body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(158, 235, 209);
    color: aliceblue;
    padding: 20px;
    margin: 0;
}
h1{
    text-align: center;
    color: black;
}
form{
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(135, 185, 229);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}
form fieldset{
    border: 1px solid #5093e0;
    padding: 10;
    margin-bottom: 10px;
}
form label{
    display: block;
    margin-bottom: 5xp;
    color: black;
}
form legend{
    padding: 0 10px;
    font-weight: bold;
    color: black;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="date"],
form input[type="url"],
form select,
form textarea{
    width: cal(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form button{
    cursor: pointer;
    background-color: antiquewhite;
    color:#ddd;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}
form button:hover{
    background-color: blue;
}